@import "./custom";
@import "./font";
.card-section {
  .card {
    background: $secondary-color;
    border: 1px solid $secondary-color;
    position: relative;
    text-align: center;
    border-radius: 8px;
    padding: 21px 11px;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    .card_icon-banner {
      background: $white-color;
      width: 45px;
      height: 45px;
      display: flex;
      position: absolute;
      border-radius: 8px;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      img {
        margin: auto;
        width: 30px;
      }
    }
    .card_icon {
      position: absolute;
      border-radius: 8px;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      img {
        width: 40px;
        border-radius: 6px;
      }
    }
    .svgIcon {
      position: absolute;
      border-radius: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      svg {
        color: $white-color;
        font-size: 1.25rem;
      }
    }
    .bg-bannner {
      background: $white-color;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .pdf {
        transform: scale(0.6);
      }
      img {
        transform: scale(0.7);
      }
    }
  }
  .card_link {
    padding: 21px 39px 21px 12px;
  }
}
.theme-dark {
  .card-section {
    .card {
      border: 0.6px solid $white-color;
    }
    .youtube {
      .card {
        border: 1px solid $black-color;
      }
    }
  }
}
