@import "./font";

$primary-color: #000000;
$secondary-color: #303130;
$white-color: #fff;
$black-color: #000;
$blue: #0e334c;
$fontCairo: "Cairo", sans-serif;
$fontOpenSans: "Cairo", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #616161;
}
.main-container {
  max-width: 25rem;
  margin: 0 auto;
  background: #efefef;
  overflow: hidden;
}
.main-container.theme-dark {
  // background: #4b4b4b;
  background: #252525;
}
.extra-btn {
  font-family: $fontOpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $white-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.d-none {
  display: none !important;
}
.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}
.w-0 {
  width: 0px;
}
.h-0 {
  height: 0px;
}

.round-0 {
  border-radius: 0px !important;
}
.border-top-0 {
  border-top: 0px !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 20px;
}
.text-center {
  text-align: center;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-2rem {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-0 {
  margin-top: 0rem !important;
}
.w-100 {
  width: 100% !important;
}

.documents .document {
  position: relative;
}

.banner-shadow {
  box-shadow: 2px 3px 0px 2px $blue;
}
.round-bottom-0 {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: $fontCairo;
  font-size: 16px;
  color: $primary-color;
  font-weight: 400;
  font-style: normal;
}
.theme-dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $white-color;
  }
}

h1 {
  color: $primary-color;
  font-style: normal;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
h2 {
  color: $primary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
h3 {
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
h4 {
  color: #222;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 0 10px;
}
p {
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}
a {
  color: $white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}
.card-section p {
  color: $white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}
.card-section .download-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.youtube {
  border-radius: 8px;
  border: 0.6px solid #9c9c9c !important;
  background: #252525;
  .youtube_video {
    height: 204px;
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    ::slotted(.ytp-show-cards-title) {
      display: none !important;
    }
  }
  .swiper-content {
    border-top: 0.6px solid #9c9c9c !important;
    border: none !important;
  }
}

.loading-section {
  background: #fff;
  height: 100vh;
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ddd;
    border-top: 2px solid $black-color;
    margin-top: 1rem;
    animation: loader 1.25s infinite linear;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.pdf-loader {
  background: $white-color;
  height: 50vh;
  border: solid $blue;
  word-break: keep-all;
  border-width: 0px 2px 2px 2px;
  .loading {
    border: 2px solid #ddd;
    border-top: 2px solid $black-color;
  }
}
.theme-dark {
  .pdf-loader {
    border: solid $white-color;
  }
}
.footer {
  img {
    width: 21px;
    margin-top: 28px;
  }
}
