@import "./font";

$primary-color: #000000;
$secondary-color: #151515;
$white-color: #fff;
$black-color: #000;
$blue: #0e334c;
$fontCairo: "Cairo", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #616161;
}
.main-container {
  max-width: 25rem;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
// .main-container.theme-dark {
//   background: #252525;
// }
.primary_container {
  width: 100%;
  height: 100%;
  background: #efefef;
  overflow: hidden;
}
.theme-dark {
  .primary_container {
    background: #252525;
  }
}
.extra-btn {
  font-family: $fontCairo;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $white-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close_btn {
  height: 50px;
  width: 50px;
  margin-top: 1rem;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #303030;
  border: none;
  background: $white-color;
  cursor: pointer;
}
.theme-white {
  .close_btn {
    color: $white-color;
    background: #303030;
  }
}
.youtube__btn {
  font-size: 20px;
}
.hero__btn {
  font-weight: 400;
  font-size: 14px;
}
.slider__btn {
  font-weight: 600;
  font-size: 16px;
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.justify-content-center {
  justify-content: center !important;
}
.w-0 {
  width: 0px;
}
.h-0 {
  height: 0px;
}
.h-100 {
  height: 100%;
}
.cursor_pointer {
  cursor: pointer;
}
.round-0 {
  border-radius: 0px !important;
}
.border-top-0 {
  border-top: 0px !important;
}
.border-none {
  border: none !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 20px;
}
.text-center {
  text-align: center;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-2rem {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-0 {
  margin-top: 0rem !important;
}
.w-100 {
  width: 100% !important;
}

.documents .document {
  position: relative;
}

.banner-shadow {
  box-shadow: 2px 3px 0px 2px $blue;
}
.round-bottom-0 {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
pre {
  font-family: $fontCairo;
  font-size: 16px;
  color: $primary-color;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}
.theme-dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  pre {
    color: $white-color;
  }
}

h1 {
  color: $primary-color;
  font-style: normal;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
h2 {
  color: $primary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
h3 {
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
h4 {
  color: #222;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}
p {
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}
pre {
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}
a {
  color: $white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section p {
  color: $white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
  z-index: 1;
}

.card-section .download-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.testbita {
  height: 100%;
  transition: height 3000ms ease-in-out;
}

.animationMOde {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
