.document {
  .pdf {
    .rpv-core__doc-loading {
      height: 300px !important;
      border-radius: 11px 11px 0px 0px;
    }
    .rpv-core__page-layer {
      height: 400px !important;
      width: 100% !important;
    }
    .rpv-core__canvas-layer {
      height: 100% !important;
      width: 100% !important;
    }
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
    .rpv-core__inner-pages {
      height: 400px !important;
      overflow-x: auto !important;
      scroll-behavior: smooth;
      border-radius: 11px 11px 0px 0px;
    }
    .rpv-core__inner-pages::-webkit-scrollbar {
      display: none;
    }
    .rpv-core__inner-page {
      width: 360px !important;
      // width: 336px !important;
      @media (max-width: 399px) {
        width: 359px !important;
      }
      @media (max-width: 398px) {
        width: 358px !important;
      }
      @media (max-width: 397px) {
        width: 357px !important;
      }
      @media (max-width: 396px) {
        width: 356px !important;
      }
      @media (max-width: 395px) {
        width: 355px !important;
      }
      @media (max-width: 394px) {
        width: 354px !important;
      }
      @media (max-width: 393px) {
        width: 353px !important;
      }
      @media (max-width: 392px) {
        width: 352px !important;
      }
      @media (max-width: 391px) {
        width: 351px !important;
      }
      @media (max-width: 390px) {
        width: 350px !important;
      }
      @media (max-width: 389px) {
        width: 349px !important;
      }
      @media (max-width: 388px) {
        width: 348px !important;
      }
      @media (max-width: 387px) {
        width: 347px !important;
      }
      @media (max-width: 386px) {
        width: 346px !important;
      }
      @media (max-width: 385px) {
        width: 345px !important;
      }
      @media (max-width: 384px) {
        width: 344px !important;
      }
      @media (max-width: 383px) {
        width: 343px !important;
      }
      @media (max-width: 382px) {
        width: 342px !important;
      }
      @media (max-width: 381px) {
        width: 341px !important;
      }
      @media (max-width: 380px) {
        width: 340px !important;
      }
      @media (max-width: 379px) {
        width: 339px !important;
      }
      @media (max-width: 378px) {
        width: 338px !important;
      }
      @media (max-width: 377px) {
        width: 337px !important;
      }
      @media (max-width: 376px) {
        width: 336px !important;
      }
      @media (max-width: 375px) {
        width: 335px !important;
      }
    }

    position: relative;
    transition: 1000ms ease;
    .react-pdf__Page__annotations {
      display: none;
    }
    .react-pdf__Page__textContent {
      display: none;
    }
    .react-pdf__Page {
      transition: 1000ms ease;
    }
    .react-pdf__message {
      display: none;
    }
    #prev-page,
    #next-page {
      // display: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      background-color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      font-size: 18px;
      transition: 600ms ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      border: none;
      z-index: 2;
      color: #fff;
    }

    /* Position the "next button" to the right */
    #next-page {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    #prev-page:hover,
    #next-page:hover {
      background-color: #393b3f;
      color: $white-color;
    }
    .react-pdf__Document {
      width: 100%;
      height: 100%;
      .react-pdf__Page {
        width: 100%;
        height: 100%;
        .react-pdf__Page__canvas {
          width: 100% !important;
          height: 100% !important;
          z-index: 3;
        }
        .react-pdf__Page__textContent {
          z-index: -1;
        }
      }
    }
  }
  .swiper-content {
    position: relative;
  }
  .rpv-core__viewer {
    height: 400px !important;
  }

  // .pdf:has(.rpv-core__inner-pages):hover {
  //   transition: 1000ms ease;
  //   #prev-page,
  //   #next-page {
  //     display: block;
  //   }
  // }
}
