@import "./font.scss";
@import "./custom.scss";
.footer {
  margin-top: 80px;
  margin-bottom: 24px;
  .caardClub {
    width: 190px;
    margin: auto;
    background: $white-color;
    box-shadow: 6.43px 7.66px 10px rgb(167 0 250 / 10%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px 14px;
    height: 100%;
    img {
      margin-right: 0.7rem;
    }
  }
  P {
    font-family: "Cairo Play";
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.73px;
    color: #141414;
  }
}

.theme-consmy,
.theme-buwayne {
  .footer {
    .caardClub {
      p {
        color: #141414;
      }
    }
    p {
      color: $white-color;
    }
  }
}
.theme-phiverse {
  .footer {
    .caardClub {
      width: 204px;
    }
  }
}
