.loading-section {
  background: #fff;
  height: 100vh;
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ddd;
    border-top: 2px solid $black-color;
    margin: 1rem auto;
    animation: loader 1.25s infinite linear;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.theme-riorpad,
.theme-buwayne {
  .loading-section {
    border-radius: 25px;
    max-width: 430px;
  }
}
