@import "./font";
@import "./custom.scss";

.slider {
  border-radius: 11px;
  .swiper {
    border-radius: 11px 11px 0px 0px;
    border: 0.6px solid #9c9c9c;
    border-bottom: none;
    // background: $white-color;
    * {
      outline: none;
    }
    .slick-arrow {
      display: none !important;
    }
    .slick-list {
      border-radius: 11px 11px 0px 0px;
    }
    .swiper-slide {
      display: flex !important;
      justify-content: center;
      img {
        // max-height: 360px;
        height: 100%;
        width: 100%;
      }
    }
    .slick-dots {
      display: none;
      position: absolute;
      bottom: 10px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      display: flex !important;
      justify-content: center;
      gap: 0.1rem;
      li {
        position: relative;
        display: inline-block;
        width: 13px;
        height: 13px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        button {
          width: 10px;
          height: 10px;
          background-color: $white-color;
          border-radius: 50%;
          color: $white-color;
          border: none;
          cursor: pointer;
          opacity: 0.75;
          transition: all 0.5s ease-in-out;
          font-size: 0px;
        }
      }
      li.slick-active button {
        opacity: 1;
        width: 13px;
        height: 13px;
      }
    }
  }
  .slick-list-border-0 {
    .slick-list {
      border-radius: 0px;
    }
  }
  a.swiper-content {
    text-align: center;
    padding: 16px 0px;
    display: block;
    border: 0.6px solid #9c9c9c !important;
  }
  .swiper-content {
    border: 0.6px solid #9c9c9c;
    border-radius: 0px 0px 11px 11px;
    padding: 10px 8px;
    background: $secondary-color;
    h4 {
      font-family: $fontCairo;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: $white-color;
    }

    p {
      font-family: $fontCairo;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: $white-color;
      text-align: start;
    }
  }
}

.theme-shencho {
  .slider {
    .swiper {
      border: 0.6px solid $white-color;
    }
    .swiper-content {
      border: 0.6px solid $white-color;
    }
  }
}
.theme-phiverse,
.theme-dahwoo {
  .slider {
    box-shadow: 6.43px 7.66px 10px rgb(167 0 250 / 10%);
    border-radius: 20px;
    .swiper {
      border: 0.6px solid $white-color;
      .slick-list {
        border-radius: unset;
      }
    }
    .swiper-content {
      background: $white-color;
      border: none;
      padding: 11px 16px;
      h4 {
        color: $blue;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.228px;
      }
      .slider_bottom-para {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.228px;
        color: rgba(0, 32, 76, 0.9);
        .slider__btn {
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.228px;
          color: rgba(0, 32, 76, 0.9);
        }
      }
    }
  }
}
.theme-dahwoo {
  .slider {
    .download {
      background: $white-color;
    }
  }
}
.theme-etyne {
  .slider {
    background: $white-color;
    border: 1px solid #0e334c;
    box-shadow: 2px 3px 0px 2px #0e334c;
    border-radius: 4px;
    .swiper {
      .slick-list {
        border-radius: unset;
      }
    }
    .swiper-content {
      background: $white-color;
      border-radius: 4px;
      h4,
      pre,
      .extra-btn {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.228px;
        color: rgba(0, 32, 76, 0.9);
      }
      .extra-btn {
        color: #006bffe5;
      }
    }
  }
}

.theme-riorpad,
.theme-buwayne {
  .slider {
    box-shadow: unset;
    .swiper {
      border: none;
      border-radius: 25px;
      .slick-list {
        border-radius: 25px;
      }
      .slider_bottom-para {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.228px;
        color: rgba(0, 32, 76, 0.9);
        .slider__btn {
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.228px;
          color: rgba(0, 32, 76, 0.9);
        }
      }
    }
  }
  .hero {
    .slider {
      .swiper {
        .slick-list {
          border-radius: 25px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
}
