.youtube {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  .BaseEmbeddedLink_baseEmbeddedLinkContainer__SlSm5 {
    --container-padding: 1.5rem;
    background-color: var(--black);
    border-radius: var(--link-border-radius);
    box-shadow: 0 1rem 3rem hsl(190deg 4% 74% / 18%);
    display: flex;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.74, -0.18, 0.3, 0.48),
      background-color 1.5s ease-in-out;
    padding: var(--container-padding);
    position: relative;
    max-width: unset;
    margin: 0;
    width: 100%;
    padding-top: calc(56.7% - var(--container-padding));
    z-index: 0;
  }
  .EmbeddedYouTube_embeddedVideoIframe__BnmH8,
  .EmbeddedYouTube_embeddedVideoThumbnail__X8kI_,
  .EmbeddedYouTube_featuredLinkEmbeddedVideo__GERzu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    border: 0.6px solid #9c9c9c;
    border-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .swiper-content {
    border-top: 0.6px solid #9c9c9c;
    border: none !important;
    h4 {
      user-select: none;
    }
  }
}

.theme-etyne {
  .youtube {
    .EmbeddedYouTube_embeddedVideoIframe__BnmH8,
    .EmbeddedYouTube_embeddedVideoThumbnail__X8kI_,
    .EmbeddedYouTube_featuredLinkEmbeddedVideo__GERzu {
      border-radius: unset;
      border: none;
    }

    .swiper-content {
      p {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.228px;
        color: rgba(0, 32, 76, 0.9);
      }
    }
  }
}
.theme-phiverse {
  .youtube {
    border-radius: 20px;
    .EmbeddedYouTube_embeddedVideoIframe__BnmH8,
    .EmbeddedYouTube_embeddedVideoThumbnail__X8kI_,
    .EmbeddedYouTube_featuredLinkEmbeddedVideo__GERzu {
      border-radius: unset;
    }
  }
}
.theme-riorpad,
.theme-buwayne {
  .youtube {
    border-radius: 20px;
    .EmbeddedYouTube_embeddedVideoIframe__BnmH8,
    .EmbeddedYouTube_embeddedVideoThumbnail__X8kI_,
    .EmbeddedYouTube_featuredLinkEmbeddedVideo__GERzu {
      border-radius: 25px;
      border: none;
    }
  }
}
