.youtube {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  .youtube_video {
    border: 0.6px solid #9c9c9c;
    height: 204px;
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .swiper-content {
    border-top: 0.6px solid #9c9c9c;
    border: none !important;
    h4 {
      user-select: none;
    }
  }
}

.theme-seven {
  .youtube {
    .youtube_video {
      border-radius: unset;
      border: none;
    }
    .swiper-content {
      p {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.228px;
        color: rgba(0, 32, 76, 0.9);
      }
    }
  }
}
.theme-blue {
  .youtube {
    border-radius: 20px;
    .youtube_video {
      border-radius: unset;
    }
  }
}
.theme-neuMorphism_light,
.theme-neuMorphism_dark {
  .youtube {
    border-radius: 20px;
    .youtube_video {
      border-radius: 25px;
      height: 188px;
      border: none;
    }
  }
}
